<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<!-- Facebook SDK -->
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=227386015000000&autoLogAppEvents=1"
    nonce="GXPY5IWa"></script>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0&appId=227386015000000&autoLogAppEvents=1"
    nonce="Mz3p4xKz"></script>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=227386015000000&autoLogAppEvents=1"
    nonce="iApYb2lM"></script>
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            <div class="col-3">
                <h2>Feeds Page</h2>
            </div>
            <div class="col-7"></div>
            <div class="col">
                <button class="btn btn-dark" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>

            </div>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
    <div class="container">
        <div class="w3-row-padding">
            <div class="w3-col s4 " *ngFor="let item of listSocials">
                <div class="panel-body">
                    <div *ngIf="item?.labelNetwork == 'Facebook'">
                        <select class="btn btn-primary " #itemPage [(ngModel)]="pageId" (change)="feedsShow()"
                            name="cars" id="cars" style="font-size: medium;">

                            <option [ngValue]="none">Choose your page</option>
                            <option [ngValue]="item?.id" *ngFor="let item of listPages">{{item?.name}}
                            </option>
                        </select>
                        <script>
                            window.fbAsyncInit = function () {
                                FB.init({
                                    appId: '227386015000000',
                                    autoLogAppEvents: true,
                                    xfbml: true,
                                    version: 'v8.0'
                                });
                            };
                        </script>
                        <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/en_US/sdk.js"></script>
                        <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
                        <!-- <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/{{pageId}}&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=227386015000000"
                            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe> -->
                        <iframe
                            src="https://www.facebook.com/plugins/post.php?href=https://www.facebook.com/100869335066617/posts/108332090987008/"
                            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                            allow="encrypted-media"></iframe>
                        <div class="fb-comments"
                            data-href="https://www.facebook.com/permalink.php?story_fbid=108332090987008&id=100869335066617"
                            data-numposts="5" data-width=""></div>
                        <!-- 
                            
                          <div 
                            class="fb-post" 
                            data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" 
                            data-width="500">sqcddscds</div> -->
                    </div>
                    <!-- <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/"
                        data-show-text="true" data-width="">
                        <blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/"
                            class="fb-xfbml-parse-ignore">Publiée par <a
                                href="https://www.facebook.com/facebookapp/">Facebook App</a> sur&nbsp;<a
                                href="https://www.facebook.com/20531316728/posts/10154009990506729/">Jeudi 27 août
                                2015</a></blockquote>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>