<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Social Network -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>


<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Services Page</h2>
            <ol>
                <li><a routerLink="home">Home</a></li>
                <li>
                    <button class="btn btn-dark" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
                </li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
    <div class="container">
        <!-- Social Network item -->
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of snList">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p>
                                    <img *ngIf="item?.label == 'Facebook'" class=" img-fluid"
                                        src="{{imgLogo}}facebook.png" alt="card image">
                                    <img *ngIf="item?.label == 'LinkedIn'" class=" img-fluid"
                                        src="{{imgLogo}}linkedin.png" alt="card image">
                                    <img *ngIf="item?.label == 'Instagram'" class=" img-fluid"
                                        src="{{imgLogo}}instagram.png" alt="card image">
                                    <img *ngIf="item?.label == 'Pinterest'" class=" img-fluid"
                                        src="{{imgLogo}}pinterest.png" alt="card image">
                                </p>
                                <h4>{{item?.label}}</h4>
                                <p class="card-text">{{item?.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4>{{item?.label}}</h4>
                                <p class="card-text">{{item?.descriptionDetails}}</p>
                                <button *ngIf="item?.label == 'Facebook'" class="btn btn-dark"
                                    (click)="facebook_signin(item)">
                                    <i class="fa fa-facebook"></i>
                                    Sign In with {{item?.label}}
                                </button>
                                <button *ngIf="item?.label == 'LinkedIn'" class="btn btn-dark" (click)="linkedin_signin(item)">
                                    <i class="fa fa-linkedin"></i>
                                    Sign In with {{item?.label}}
                                </button>
                                <button *ngIf="item?.label == 'Instagram'" class="btn btn-dark"
                                    (click)="instagram_signin(item)">
                                    <i class="fa fa-instagram"></i> Sign In with {{item?.label}}
                                </button>
                                <button *ngIf="item?.label == 'Pinterest'" class="btn btn-dark"
                                    (click)="pinterest_signin(item)">
                                    <i class="fa fa-pinterest"></i>
                                    Sign In with {{item?.label}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Social Network item -->
    </div>
</section>
<!-- Social Network -->