<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_AE/sdk.js"></script>
<!-- End Login with Facebook  -->
<!-- Social Network -->
<section id="Social Network" class="pb-5">
    <div class="container">
        
        <div class="row">
            <div class="col">
              </div>
              <div class="col-6">
                <h5 class="h1">Social Networks</h5>
              </div>
              <div class="col-2"></div>
              <div class="col">
                <button class="btn btn-dark btn-lg" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
              </div>
            
        </div>
        <div class="row">
            <!-- Social Network item -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of snList">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="assets/images/facebook-logo.png"
                                            alt="card image"></p>
                                    <h4>{{item?.label}}</h4>
                                    <p class="card-text">{{item?.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4>{{item?.label}}</h4>
                                    <p class="card-text">{{item?.descriptionDetails}}</p>
                                        <button *ngIf="item?.label == 'Facebook'" class="btn btn-dark" (click)="facebook_signin(item)">
                                            <i class="fa fa-facebook"></i>
                                            Sign In with {{item?.label}}
                                        </button>
                                        <button *ngIf="item?.label == 'LinkedIn'" class="btn btn-dark" (click)="feedsFB()">
                                            <i class="fa fa-linkedin"></i>
                                            Sign In with {{item?.label}}
                                        </button>
                                        <button *ngIf="item?.label == 'Instagram'" class="btn btn-dark" (click)="instagram_signin(item)">
                                            <i class="fa fa-instagram"></i>   Sign In with {{item?.label}}
                                        </button>
                                        <button *ngIf="item?.label == 'Pinterest'" class="btn btn-dark" (click)="pinterest_signin(item)">
                                            <i class="fa fa-pinterest"></i>
                                            Sign In with {{item?.label}}
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Social Network item -->
        </div>
    </div>
</section>
<!-- Social Network -->