.btn-theme {
    color: #fff;
    background-color: #797878;
    border-color: #727474;
    margin-bottom: 30px;
  }
  .btn-theme:hover,
  .btn-theme:focus,
  .btn-theme:active,
  .btn-theme.active,
  .open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #646464;
    border-color: #727474;
  }

  
  .btn-clear-g {
      color: #727474;
      background: transparent;
      border-color: #727474;
  }
  
  .btn-clear-g:hover {
      color: white;
  }
