<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form" [formGroup]="RegisterForm" (ngSubmit)="registerBtn()"  >
                    <div class="form-group">
                        <label for="firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" formControlName="firstname" name="firstname" id="firstname" placeholder="Your First Name" required autofocus />
                    </div>
                    <div class="form-group">
                        <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" formControlName="lastname" name="lastname" id="lastname" placeholder="Your Last Name"/>
                    </div>
                    <div class="form-group">
                        <label for="nameCompany"><i class="zmdi zmdi-account material-icons-business"></i></label>
                        <input type="text" formControlName="nameCompany" name="nameCompany" id="nameCompany" placeholder="Your company Name"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" formControlName="email" name="email" id="email" placeholder="Your Email" required/>
                    </div>
                    <div class="form-group">
                        <p><label for="language"><i class="bi bi-card-list">Choose your language</i></label></p>
                        
                    </div>
                    <div class="form-group">
                        <select id="language" style="margin: 5px;" formControlName="languageID" class="btn btn-theme btn-group">
                            <option value="0" selected >Language</option>
                            <option *ngFor="let langue of langues" name="languages" id="languages" value="{{langue['@id']}}" >{{langue?.label}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber"><i class="zmdi material-icons-call"></i></label>
                        <input type="tel" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="Your Phone number"/>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" formControlName="password" name="pass" id="pass" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" formControlName="re_pass" name="re_pass" id="re_pass" placeholder="Repeat your password" required/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                    <!-- <label class="checkbox">
                        <span class="pull-right">
                        <a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
                        </span>
                    </label> -->

                    <!-- Modal -->
                        <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center">Forgot Password ?</h4>
                                </div>
                                <div>
                                <div id="errorMsg" *ngIf="errorMessage">
                                    <span>{{errorMessage}}</span>
                                </div>
                                <div id="successMsg" *ngIf="successMessage">
                                    <span>{{successMessage}}</span>
                                </div>
                                <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                                    <div class="form-group modal-body">
                                    <p>Enter your e-mail address below to reset your password.</p>
                                        <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="email"
                                            type="text" id="email" formControlName="email" />
                                        <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                                            class="help-block">Please enter a valid email!</span>
                                    </div>
                                    <div class="form-group">
                                        <div style="margin-left: 75%;">
                                            <button type="submit" class=" btn btn-theme">Reset
                                                Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                            </div>
                        </div> -->
                    <!-- modal -->
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/templateLoginRegister/images/signup-image.jpg" alt="sing up image"></figure>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>